* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins, sans-serif;
}

body {
    background: #000;
    color: white;
}

nav {
    width: 100%;
    padding: 20px 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    display: flex;
    gap: 30px;
}

nav ul li a {
    color: white;
    font-size: 18px;
    text-decoration: none;
}

nav ul li a.active,
nav ul li a:hover {
    color: #c05757;
}

.contact-section {
    padding: 70px 10%;
    text-align: center;
}

.contact-section h1 {
    font-size: 45px;
    margin-bottom: 40px;
}

form {
    max-width: 450px;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

form input,
form textarea {
    width: 100%;
    padding: 15px;
    border-radius: 10px;
    border: none;
    background: #111;
    color: white;
}

form button {
    padding: 15px;
    border: none;
    background: #c05757;
    color: white;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
}

form button:hover {
    opacity: 0.8;
}
