* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins, sans-serif;
}

body {
    background: #000;
    color: white;
}

/* NAVBAR */
nav {
    width: 100%;
    padding: 20px 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    display: flex;
    gap: 30px;
}

nav ul li a {
    color: white;
    font-size: 18px;
    text-decoration: none;
}

nav ul li a.active,
nav ul li a:hover {
    color: #c05757;
}

/* PROJECT SECTION */
.project-section {
    padding: 80px 10%;
}

.project-section h1 {
    text-align: center;
    font-size: 45px;
    margin-bottom: 40px;
}

.project-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 30px;
}

.card {
    background: #0e0e0e;
    padding: 25px;
    border-radius: 15px;
    border: 1px solid #222;
    transition: 0.3s;
}

.card:hover {
    transform: translateY(-8px);
    border-color: #c05757;
}

.card h2 {
    color: #c05757;
    margin-bottom: 10px;
}
