* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: #0a0f24;
    color: white;
    overflow-x: hidden;
}

/* NAVBAR */
nav {
    width: 100%;
    padding: 20px 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    backdrop-filter: blur(10px);
    background: rgba(10, 15, 36, 0.4);
    border-bottom: 1px solid rgba(255,255,255,0.1);
    z-index: 999;
}

nav h2 {
    font-size: 28px;
    font-weight: bold;
    background: linear-gradient(45deg, #6a5af9, #00d0ff);
    -webkit-background-clip: text;
    color: transparent;
}

nav ul {
    display: flex;
    gap: 35px;
    list-style: none;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    transition: 0.3s ease;
}

nav ul li a:hover {
    color: #6a5af9;
}

/* HERO */
.hero {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 40px;
}

.hero-content h1 {
    font-size: 60px;
    background: linear-gradient(45deg, #00eaff, #6a5af9);
    -webkit-background-clip: text;
    color: transparent;
}

.hero-content p {
    font-size: 22px;
    margin-top: 10px;
    opacity: 0.8;
}

.hero-content img {
    width: 250px;
    margin-top: 25px;
    border-radius: 20px;
    box-shadow: 0 0 25px rgba(0, 200, 255, 0.6);
}

/* ABOUT */
.about {
    padding: 120px 60px;
}

.title {
    font-size: 45px;
    margin-bottom: 20px;
    background: linear-gradient(45deg, #00d0ff, #6a5af9);
    -webkit-background-clip: text;
    color: transparent;
}

.about p {
    font-size: 20px;
    max-width: 700px;
    color: #bcd3ff;
}

/* PROJECTS */
.projects {
    padding: 120px 60px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.project-box {
    background: rgba(255,255,255,0.05);
    padding: 20px;
    border-radius: 12px;
    border: 1px solid rgba(255,255,255,0.2);
    backdrop-filter: blur(5px);
    transition: 0.3s;
}

.project-box:hover {
    transform: scale(1.04);
    box-shadow: 0 0 20px #6a5af9;
}

/* CONTACT */
.contact {
    padding: 120px 60px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    max-width: 450px;
}

input, textarea {
    padding: 12px;
    border-radius: 8px;
    border: none;
    outline: none;
    background: rgba(255,255,255,0.1);
    color: white;
    font-size: 16px;
}

button {
    padding: 12px;
    border-radius: 8px;
    border: none;
    background: #6a5af9;
    color: white;
    font-size: 18px;
    cursor: pointer;
    transition: 0.3s;
    box-shadow: 0 0 15px #6a5af9;
}

button:hover {
    transform: scale(1.1);
    box-shadow: 0 0 25px #6a5af9;
}