*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body{
    background: url("/mnt/data/hecker.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: #d9ffe4;
}

/* DARK OVERLAY FOR CLEAR TEXT */
body::before{
    content:"";
    position: fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background: rgba(0,0,0,0.65);
    backdrop-filter: blur(1px);
    z-index:-1;
}

/* HEADER */
header{
    width: 100%;
    padding: 20px 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    background: rgba(0,
